.footer-section
  display: flex
  justify-content: space-between
  background-color: #b4325b
  color: #fff
  align-items: center

  .copyright-area
    float: left
    margin-left: 20px

    .copyright-text
      p
        font-size: 14px
        margin: 0

  .footer-menu
    ul
      list-style: none
      padding: 0
      display: flex
      justify-content: center
      margin-right: 20px
